@model ApplicationUserWithFilterVM

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Users</h2>
        </div>
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a href="/Admin/User/Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Create</a>
        </div>
    </div>

    <!-- Filter Section -->
    <section class="py-3 filter-bar">
        <div class="container">
            <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
                <div class="col-12">
                    <form>
                        <div class="row">
                            <!-- User Name -->
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Name" name="query" value="@ViewBag.Query">
                            </div>

                            <!-- Submit Button -->
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-dark w-100">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Role</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserRoles)
                    {
                        <tr>
                            <td scope="row">@item.Key.Email</td>
                            <td>@item.Key.UserName</td>
                            <td>@(item.Key.PhoneNumber ?? "no phone Number")</td>
                            <td>@item.Value</td>
                            <td>
                                @if (@item.Value != SD.SUPER_ADMIN_ROLE)
                                {
                                    <a href="/Admin/User/UpdateRole/@item.Key.Id" type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Update Role</a>
                                
                                    @if (item.Key.LockoutEnabled)
                                    {
                                        <a href="/Admin/User/LockUnLock/@item.Key.Id" class="btn btn-danger btn-delete"><i class="bi bi-trash"></i> Lock</a>
                                    }
                                    else
                                    {
                                        <a href="/Admin/User/LockUnLock/@item.Key.Id" class="btn btn-success"><i class="bi bi-trash"></i> UnLock</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.CurrentPage > 1)
                    {
                        <li class="page-item"><a class="page-link" href="/Admin/User/Index?page=@(Model.CurrentPage - 1)">Previous</a></li>
                    }
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        @if (i == Model.CurrentPage)
                        {
                            <li class="page-item active"><a class="page-link" href="/Admin/User/Index?page=@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="/Admin/User/Index?page=@i">@i</a></li>
                        }
                    }
                    @if (Model.CurrentPage != Model.TotalPages)
                    {
                        <li class="page-item"><a class="page-link" href="/Admin/User/Index?page=@(Model.CurrentPage + 1)">Next</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".btn-delete");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function (e) {
                e.preventDefault(); // stop normal navigation

                const url = this.getAttribute("href");

                Swal.fire({
                    title: "Are you sure?",
                    text: "This action cannot be undone!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Yes, Block it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                          title: "Blocked!",
                          text: "Your file has been Blocked.",
                          icon: "success"
                        });

                        // Redirect to delete URL
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script>

@section Scripts {
    <partial name="_NotificationPartial">
    }