@model ProductsVM

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Products</h2>
        </div>
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a href="/Admin/Product/Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Create</a>
        </div>
    </div>

    <!-- Filter Section -->
    <section class="py-3 filter-bar">
        <div class="container">
            <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
                <div class="col-12">
                    <form>
                        <div class="row">
                            <!-- Product Name -->
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Name" name="Name" value="@ViewBag.Name">
                            </div>

                            <!-- Product Min Price -->
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Min Price" name="MinPrice" value="@ViewBag.MinPrice">
                            </div>

                            <!-- Product Max Price -->
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Max Price" name="MaxPrice" value="@ViewBag.MaxPrice">
                            </div>

                            

                            
                        </div>

                        <div class="row my-3">
                            <!-- Product Category Name -->
                            <div class="col-md-3">
                                @* <input type="text" class="form-control" placeholder="Category Name" name="CategoryName" value="@ViewBag.CategoryName"> *@

                                <select name="CategoryId" class="form-select">
                                    <option>All</option>
                                    @foreach (var item in Model.Categories)
                                    {
                                        @if (@ViewBag.CategoryId == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <!-- Product Brand Name -->
                            <div class="col-md-3">
                                @* <input type="text" class="form-control" placeholder="Brand Name" name="BrandName" value="@ViewBag.BrandName"> *@

                                <select name="BrandId" class="form-select">
                                    <option>All</option>
                                    @foreach (var item in Model.Brands)
                                    {
                                        @if (@ViewBag.BrandId == item.Id)
                                        {
                                            <option value="@item.Id" selected>@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <!-- Submit Button -->
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-dark w-100">Filter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Brand Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Name</td>
                            <td>@item.Price.ToString("c")</td>
                            @if (item.Rate < 3)
                            {
                                <td><span class="badge text-bg-danger">@item.Rate / 5</span></td>
                            }
                            else if (item.Rate > 3 && item.Rate < 4)
                            {
                                <td><span class="badge text-bg-warning">@item.Rate / 5</span></td>
                            }
                            else
                            {
                                <td><span class="badge text-bg-success">@item.Rate / 5</span></td>
                            }
                            <td><span class="badge text-bg-info">@item.Category.Name</span></td>
                            <td><span class="badge text-bg-info">@item.Brand.Name</span></td>
                            @if (item.Status)
                            {
                                <td><span class="badge text-bg-success">Active</span></td>
                            }
                            else
                            {
                                <td><span class="badge text-bg-danger">In Active</span></td>
                            }
                            <td>
                                <a href="/Admin/Product/Update/@item.Id" type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a href="/Admin/Product/Delete/@item.Id" class="btn btn-danger btn-delete"><i class="bi bi-trash"></i> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (Model.CurrentPage > 1)
                    {
                        <li class="page-item"><a class="page-link" href="/Admin/Product/Index?page=@(Model.CurrentPage - 1)">Previous</a></li>
                    }
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        @if (i == Model.CurrentPage)
                        {
                            <li class="page-item active"><a class="page-link" href="/Admin/Product/Index?page=@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="/Admin/Product/Index?page=@i">@i</a></li>
                        }
                    }
                    @if (Model.CurrentPage != Model.TotalPages)
                    {
                        <li class="page-item"><a class="page-link" href="/Admin/Product/Index?page=@(Model.CurrentPage + 1)">Next</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".btn-delete");

        deleteButtons.forEach(button => {
            button.addEventListener("click", function (e) {
                e.preventDefault(); // stop normal navigation

                const url = this.getAttribute("href");

                Swal.fire({
                    title: "Are you sure?",
                    text: "This action cannot be undone!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                          title: "Deleted!",
                          text: "Your file has been deleted.",
                          icon: "success"
                        });

                        // Redirect to delete URL
                        window.location.href = url;
                    }
                });
            });
        });
    });
</script> 

@section Scripts {
    <partial name="_NotificationPartial">
}
